html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #d4f3ef;
  /* background: #e74c3c; */
  /* background: linear-gradient(90deg, #7d5fff 0%, #c56cf0 35%, #32ff7e 100%); */
}

.wrapper {
  background-color: #d4f3ef;
  /* background: linear-gradient(90deg, #7d5fff 0%, #c56cf0 35%, #32ff7e 100%); */
  padding-top: 0;
}

.navbar-brand img {
  height: 60px;
  width: auto;
  padding-left: 40px;
}

.navbar {
  /* background: linear-gradient(90deg, #7d5fff 0%, #c56cf0 35%, #32ff7e 100%); */
  background-color: #d4f3ef;
}

.db {
  font-family: sans-serif;
  color: honeydew;
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

.banner img {
  height: 100%;
  width: 100%;
}

.message {
  text-align: center;
}

.titles {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: cursive;
}
.footer {
  height: 40px;
  width: 100%;
  /* background: linear-gradient(90deg, #7d5fff 0%, #c56cf0 35%, #32ff7e 100%); */
  background-color: #d4f3ef;
  color: #747d8c;
  text-align: center;
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 0;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
