{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/chart-block.css' %}" />
  
  <script
    src="https://code.jquery.com/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/highchart.js' %}"></script>
  <script src="{% static 'js/date.js' %}"></script>
  
  <style>
    .bmidiv{
      position: absolute;
      margin-left: 50px;
      border: 2px solid #333;
      height: 60px;
      width: 180px;
      border-radius: 20px;
      margin-top: 4px;
      padding-top: 8px;
      visibility: hidden;;
    }
    .bmidiv > h4{
      line-height: 23px;
      font-size: 1.6rem;
    }
  </style>
</head>

<body>
  <div class="tab-body">
    <div class="chart-top">
     <div class="bmidiv">
       <h4>BMI : {{profile.BMI}} <br> hia</h4>
       
      </div>
      <button
        type="button"
        name="mychart"
        class="button line-btn"
        id="column"
        value="column"
      >
        <img
          src="{% static 'images/own-icons/bar.png' %}"
          alt=""
          srcset=""
          id="cal-icon"
        />
        &nbsp; 條圖
      </button>
      <button
        class="button pie-btn"
        type="button"
        name="mychart"
        class="button line-btn"
        id="line"
        value="spline"
      >
        <img
          src="{% static 'images/own-icons/line.png' %}"
          alt=""
          srcset=""
          id="steps-icon"
        />
        線形圖
      </button>
      <button class="button bar-btn" 
      class="button pie-btn"
        type="button"
        name="mychart"
        class="button line-btn"
        id="pie"
        value="pie"">
        <img
          src="{% static 'images/own-icons/pie.png' %}"
          alt=""
          srcset=""
          id="sleep-icon"
        />
        餅圖
      </button>
    </div>
    <div class="chart-middle">
      <div class="tabSideContainer">
        <div class="chart-btn">
          <div class="sideButtonContainer">
            <h3>類型</h3>
            <button class="button graph-btn1" value = "卡路里" id='grphcalory'>
              <img
                src="{% static 'images/own-icons/cal-icon.png' %}"
                alt=""
                srcset=""
                id="cal-icon"
                
              />
              卡路里
            </button>
            <button
              class="button graph-btn2"
              value= '步行數'
              id="grphsteps"
            >
              <img
                src="{% static 'images/own-icons/steps-icon.png' %}"
                alt=""
                srcset=""
                id="steps-icon"
              />
              步行數
            </button>
            <button class="button graph-btn3" value=" 睡眠量" id="grphsleep">
              <img
                src="{% static 'images/own-icons/sleep-icon.png' %}"
                alt=""
                srcset=""
                id="sleep-icon"
              />
              睡眠量
            </button>
          </div>
          <div class="sideButtonContainer container2">
            <h3>方式</h3>
            <button class="button self-btn" onclick="showSidePanel(0,'red')">
              <img
                src="{% static 'images/own-icons/self.png' %}"
                alt=""
                srcset=""
                id="self-icon"
              />
              本周
            </button>
            <button
              class="button all-class-btn"
              onclick="showSidePanel(1,'green')"
            >
              <img
                src="{% static 'images/own-icons/classmate.png' %}"
                alt=""
                srcset=""
                id="all-class-icon"
              />
              本月
            </button>
            <button
              class="button classmate-btn"
              onclick="showSidePanel(2,'blue')"
            >
              <img
                src="{% static 'images/own-icons/all-class.png' %}"
                alt=""
                srcset=""
                id="classmate-icon"
              />
              今年
            </button>
          </div>
        </div>
        <div class="chartArea">
          <div
            id="container"
            style="min-width: 310px; height: 400px; margin: 0 auto"
          ></div>

         
          <div ><h1 id="chart-title"> 卡路里 </h1></div>
         

          <br />
        </div>
        <div class="chartArea">2</div>
        <div class="chartArea">3</div>
      </div>
    </div>
    
  </div>
  <script src="{% static 'js/user-side-tab.js'%}"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="{% static 'js/exporting.js'%}"></script>
  <script type="text/javascript">
  categories_data=[];
  var userid = "{{profile.userId}}";  
  var thisweekdays = [];
  var prevweekdays = [];
  prevuserdata = [];
  thisuserdata = [];
  for (var d = Date.today().last().monday(); d <= Date.today(); d.setDate(d.getDate() + 1)) {
    thisweekdays.push(new Date(d));
} 
  d= Date.today().last().monday() - 1;
 for( p = new Date(d).last().monday(); p< Date.today().last().monday(); p.setDate(p.getDate() + 1)){
  prevweekdays.push(new Date(p));
  
 } 

// console.log('prevdays:'+ prevweekdays+" "+"thisweekdays:"+thisweekdays);


// todayUserData = getData(Date.today().getTime(),userid);
// console.log(todayUserData)
// var userdata
// colsole.log(userdata)
// function getData(date, userId){
//   $.ajax({
//       type: "POST",
//       datatype: "application/json; charset=utf-8",
//       url: "https://health.weiecampus.com/wiBioGolife/statistic/school/getDailyHealth",
//       header: { "Access-Control-Allow-Origin": "*" },
//       data: {
//         schoolid: 4576,
//         date: date,
//       },
//       success: function (result) {
//         if (result && result.status == 1) {
//           userdata = result.content
//           for(i=0; i<userdata.length; i++){
//             if(userdata[i] == userId ){
//               console.log("Ok")
//             }
//           }
//         } else {
//           $("#error")
//             .empty()
//             .addClass("error")
//             .append("<h4 style='color: red'>Something is wrong. </h4>");
//         }
//       },
//     });

//   return false;

//  };

  function charttitle() {
    var x = this.value;
    document.getElementById("chart-title").innerHTML = x;
  }



async function getdata(){
 var categories_data = await getData1();
}

 function getData1(){
  $.ajax({
      type: "GET",
      datatype: "application/json; charset=utf-8",
      url: "/api/chart/weekdata/",
      header: { "Access-Control-Allow-Origin": "*" },
      
      success: function (result) {
        console.log(result)
        var data = result
       
      },
    });

  setTimeout(()=>{
    return data;
  }), 3000;

 };
  
    $(function () {
  // Create the chart
      
  var options = {
    chart: {
      events: {
        drilldown: function (e) {
          if (!e.seriesOptions) {
            var chart = this;

            // Show the loading label
            chart.showLoading("Loading ...");

            setTimeout(function () {
              chart.hideLoading();
              chart.addSeriesAsDrilldown(e.point, series);
            }, 1000);
          }
        },
      },
      plotBorderWidth: 0,
    },

    title: {
      text: "圖表",
    },
    //
    subtitle: {
      text: " ",
    },
    //
    xAxis: {
      categories: categories_data,
    },
    //
    yAxis: {
      title: {
        margin: 10,
        text: "Activity",
      },
    },
    //
    legend: {
      enabled: true,
    },
    //
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: "pointer",
        dataLabels: {
          enabled: false,
        },
        showInLegend: true,
      },
    },
    series: [
      {
        name: "自己",

        data: [
          { name: "星期一", y: 50 },
          { name: "星期二", y: 20 },
          { name: "星期三", y: 35 },
          { name: "星期四", y: 95 },
          { name: "星期五", y: 85 },
          { name: "星期六", y: 95 },
          { name: "星期日", y: 15 },
        ],
      },
      {
        name: "同學",

        data: [
          { name: "星期一", y: 80 },
          { name: "星期二", y: 90 },
          { name: "星期三", y: 95 },
          { name: "星期四", y: 65 },
          { name: "星期五", y: 45 },
          { name: "星期六", y: 95 },
          { name: "星期日", y: 65 },
        ],
      },
    ],
    //
    drilldown: {
      series: [],
    },
  };

  // Column chart
  options.chart.renderTo = "container";
  options.chart.type = "column";
  var chart1 = new Highcharts.Chart(options);
  document.getElementById("column").addEventListener("click", chartfunc);
  //   document.getElementById("bar").addEventListener("click", chartfunc);
  document.getElementById("pie").addEventListener("click", chartfunc);
  document.getElementById("line").addEventListener("click", chartfunc);
  document.getElementById("grphcalory").addEventListener("click", charttitle);
  document.getElementById("grphsteps").addEventListener("click", charttitle);
  document.getElementById("grphsleep").addEventListener("click", charttitle);
  

  function chartfunc() {
    options.chart.renderTo = "container";
    options.chart.type = this.value;
    var chart1 = new Highcharts.Chart(options);
  }
  //   $("#change_chart_title").click(function () {
  //     var new_title = $("#chart_title").val();
  //     var chart = $("#container").highcharts();
  //     chart.setTitle({ text: new_title });

  //     alert("Chart title changed to " + new_title + " !");
  //   });
});

  </script>
  <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
</body>
