{% extends 'base.html'%} {% block content %} {%load static%}

<div class="banner">
  <!-- <img src="{% static 'images/banner.png' %}" alt="" srcset=""> -->
  <!-- POSTS -->
  <section id="posts">
    <div class="container" style="padding-top: 60px">
      <div class="row">
        <div class="col-md-12" style="padding-top: 30px">
          <div class="card">
            <div class="card-header">
              <h2 style="text-align: center">Total Students : 10</h2>
              <h4>Latest Posts</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{%endblock%}
