{% extends 'base.html'%}
    {% block content %}
    {%load static%}

    <div class="banner">
        <!-- <img src="{% static 'images/banner.png' %}" alt="" srcset=""> -->
        <!-- POSTS -->
  <section id="posts">
    <div class="container" style="padding-top: 60px;">
      <div class="row">
        <div class="col-md-12" style="padding-top: 30px;">
            <div class="card">
              <div class="card-header">
                <h2 style="text-align: center;"> Total Students : {{datas|length}}</h2>
                <h4>Latest Posts</h4>
              </div>
              
             
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Heartrate</th>
                    <th>Sleep Score</th>
                  </tr>
                </thead>
                <tbody>
  
                 
                  <!-- {for data in datas%}   -->
                   
                  <tr>
                    <td>{{name}}</td>
                    <td>{{name}}</td>
                    <td>{{name}}</td>
                    <td>{{name}}</td>
                    <td>{{name}}</td>
                  </tr>
                  
                 <!-- {%endfor} -->
                </tbody>
              </table>
            </div>
          </div>

        
        
      </div>
    </div>
  </section>
    </div>


 {%endblock%}
