{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/lesson-block.css' %}" />
</head>

<body>
  <div class="tab-body">
    <div class="title-section">
      <button onclick="lesson1()" class="lesson-div lesson1">
        <div class="lesson-num"><h1>1</h1></div>
        <div class="lesson-data">
          <div class="data-top">
            <h1 class="lesson-title">運動飲食</h1>
            <div class="lesson-btns">
              <h3>完成學習</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-violet.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-violet.png' %}"
                alt="" {% if webdata.is_lesson1_part1 == True %}
                style="visibility: visible" {% else %} style="visibility:
                hidden" {% endif %} />
              </div>
              <h3>特殊獎勵</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-violet.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-violet.png' %}"
                alt="" {% if webdata.is_lesson1_part2 == True %}
                style="visibility: visible" {% else %} style="visibility:
                hidden" {% endif %} />
              </div>
            </div>
          </div>
          <div class="data-bottom">
            <div class="les-progress lessongraph">
              <div class="progress-done lsngrphdata" data-done="{{less1data}}">
                {{less1cmnt}}
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="title-section">
      <div
        onclick="lesson2()"
        style="cursor: pointer"
        class="lesson-div lesson2"
      >
        <div class="lesson-num"><h1>2</h1></div>
        <div class="lesson-data">
          <div class="data-top">
            <h1 class="lesson-title">事前準備</h1>
            <div class="lesson-btns">
              <h3>完成學習</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-blue.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-blue.png' %}" alt=""
                {% if webdata.is_lesson2_part1 == True %} style="visibility:
                visible" {% else %} style="visibility: hidden" {% endif %} />
              </div>
              <h3>特殊獎勵</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-blue.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-blue.png' %}" alt=""
                {% if webdata.is_lesson2_part2 == True %} style="visibility:
                visible" {% else %} style="visibility: hidden" {% endif %} />
              </div>
            </div>
          </div>
          <div class="data-bottom">
            <div class="les-progress lessongraph">
              <div
                class="progress-done lsngrphdata lsngrphdata2"
                data-done="{{less2data}}"
              >
                {{less2cmnt}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title-section">
      <div
        onclick="lesson3()"
        style="cursor: pointer"
        class="lesson-div lesson3"
      >
        <div class="lesson-num"><h1>3</h1></div>
        <div class="lesson-data">
          <div class="data-top">
            <h1 class="lesson-title">準備出發</h1>
            <div class="lesson-btns">
              <h3>完成學習</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-green.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-green.png' %}" alt=""
                {% if webdata.is_lesson3_part1 == True %} style="visibility:
                visible" {% else %} style="visibility: hidden" {% endif %} />
              </div>
              <h3>特殊獎勵</h3>
              <div class="tick-group">
                <img
                  src="{% static 'images/own-icons/rect-green.png' %}"
                  alt=""
                />
                <img src="{% static 'images/own-icons/tick-green.png' %}" alt=""
                {% if webdata.is_lesson3_part2 == True %} style="visibility:
                visible" {% else %} style="visibility: hidden" {% endif %} />
              </div>
            </div>
          </div>
          <div class="data-bottom">
            <div class="les-progress lessongraph">
              <div
                class="progress-done lsngrphdata lsngrphdata3"
                data-done="{{less2data}}"
              >
                {{less2cmnt}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function lesson1() {
      window.location.href = "/lesson1/";
    }
    function lesson2() {
      window.location.href = "/lesson2/";
    }
    function lesson3() {
      window.location.href = "/lesson3/";
    }
  </script>
</body>
