{% extends 'base.html' %}
{% load static %}
          {% block content %}



    <div style="background:transparent !important;" class="jumbotron">
        
               
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" >
            <div class="auth-wrapper border-top border-secondary " >  <br> 
                <div class="loginform">
                    
                    <!-- Form -->
                    <form class="form-horizontal " id="loginform" action="" method="POST">
                        {%csrf_token%}
                        <div class="text-center bg-dark titles">
                            <span class="db"><i class="fas fa-user"></i>&nbsp HIT User Login</span>
                        </div> <br>
                        <div class="row p-b-30 p-t-20">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="Username" name="username">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg" placeholder="Password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="row border-top border-secondary "> 
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20"> <br>
                                       <a class="btn btn-info" href="{% url 'reset_password'%}"><i class="fa fa-lock m-r-5" ></i>  Lost Password? </a> 
                                        <button class="btn btn-success float-right" type="submit">Login</button>
                                    </div>
                                    {% for message in messages%}
                                        <p class="db" style="color:black;">{{message}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="recoverform" class="p-t-20 p-b-20">
                    <div class="text-center p-t-20 p-b-20  bg-dark">
                        <span class="db"><i class="fas fa-user"></i>&nbsp Password Recovery</span>
                    </div>
                    <div class="text-center">
                        <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
                    </div>
                    <div class="row m-t-20">
                        <!-- Form -->
                        <form class="col-12" action="" method="POST">
                            {%csrf_token%}
                            <!-- email -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                                </div>
                                {{form}}
                                <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-20 p-t-20 border-top border-secondary">
                                <div class="col-12">
                                    <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                                    <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    {% endblock %}


