{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <script
    src="https://kit.fontawesome.com/3440ae8e61.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="reset-block">
    <h2 class="title">重設用戶{{form.user}}的密碼</h2>
    <p class="email-hint">
      在下面輸入您的電子郵件地址，我們將向您發送 說明如何恢復密碼。
    </p>
    <form action="" method="POST">
      {%csrf_token%}
      <div class="input-field">
        <div class="ico-cir"><i class="fas fa-key"></i></div>
        {{form.new_password1}}
      </div>
      <div class="input-field">
        <div class="ico-cir">
          <i class="fas fa-key"></i>
        </div>
        {{form.new_password2}}
      </div>
      <button class="login-btn float-right" type="submit" action="Send email">
        更改密碼
      </button>
    </form>
    <p class="forgot-hint">
      <a href="{% url 'login'%}">返回登入頁面</a>
    </p>
    <div class="pwd-info">
      <p class="forgot-hint">
        * 您的密碼不能與其他人的密碼太相似 信息。<br />
        * 您的密碼必須至少包含8個字符。 <br />
        * 您的密碼不可以是常用密碼。 <br />
        * 您的密碼不可以全是數字。
      </p>
    </div>
  </div>

  <div class="cntr"></div>

  <script>
    var form_fields = document.getElementsByTagName("input");
    form_fields[1].placeholder = "新密碼";
    form_fields[2].placeholder = "確認密碼";

    for (var field in form_fields) {
      form_fields[field].className += "sign-in-form";
    }
  </script>
</body>

{% endblock %}
