{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <script
    src="https://kit.fontawesome.com/3440ae8e61.js"
    crossorigin="anonymous"
  ></script>
  <title>Login Page</title>
</head>
<body>
  <div class="outer-msgs">
    <div class="login-block">
      <div class="forms-container">
        <div class="signin-signup">
          <h2 class="title">已發送 Email!!</h2>
          <p class="email-hint">
            已發送帶有密碼重置鏈接的電子郵件，請檢查您的電子郵件
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
