{%extends "base.html"%}

{% block content %}
<div class="main-wrapper ">
    <br><br>
     <div class="auth-wrapper d-flex no-block justify-content-center align-items-center col-md-auto " >
         <div class="auth-wrapper border-top border-secondary col-md-4 " > <br>
             
                 <div class="text-center bg-dark titles" style="padding-top: 10px; padding-bottom: 10px">
                     <span class="db"><i class="fas fa-key"></i>&nbsp Reset Password</span>
                 </div>
                
                 <form class="form-horizontal m-t-20" action="" method="POST">
                    {%csrf_token%}
                     <div class="row p-b-30" style="padding-top: 20px;">
                         <div class="col-12">
                             
                             <div class="input-group mb-3">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="fa fa-key"></i></span>
                                 </div>
                                 {{form.new_password1}}
                             </div>
                             <div class="input-group mb-3">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="fa fa-key"></i></span>
                                 </div>
                                 {{form.new_password2}}
                             </div>
                         </div>                           
                     </div>                        
                     <div class="row border-top border-secondary">
                         <div class="col-12">
                             <div class="form-group">
                                 <div class="titles"> <br>
                                     <button class="btn btn-block btn-lg btn-info" type="submit" action='Change Password'>Change Password</button>
                                 </div>
                                 <div class="clearfix"></div>
            <div class="text-left "> <p>
                * Your password can’t be too similar to your other personal information. <br>
                * Your password must contain at least 8 characters. <br>
                * Your password can’t be a commonly used password. <br>
                * Your password can’t be entirely numeric. <br>
            </p>
            </div>
                                 {% for message in messages%}
                                     <p class="db" style="color:black;">{{message}}</p>
                                 {% endfor %}
                             </div>
                         </div>
                     </div>                     
                 </form>
            </div>
            
     </div>
    
 </div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'New Password';
    form_fields[2].placeholder = 'Confirm New Password';
    

    for (var field in form_fields){
        form_fields[field].className += 'form-control form-control-lg'
    }

</script>

{% endblock %} 