{%extends "base.html"%}

{% block content %}

<div style="background:transparent !important;" class="jumbotron">
        
               
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" >
        <div class="auth-wrapper border-top border-secondary " >  <br> 
            
            <div class="p-t-20 p-b-20">
                <div class="text-center p-t-20 p-b-20  bg-dark">
                    <span class="db"><i class="fas fa-user"></i>&nbsp Password Recovery</span>
                </div>
                <div class="text-center"><br>
                    <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password. </span> 
                    <br>
                </div>
                <div class="row m-t-20"> 
                    <!-- Form -->
                    <form class="col-12" action="" method="POST">
                        {%csrf_token%}
                        <!-- email --> <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                            </div>
                            {{form.email}}
                        
                        </div>
                        <!-- pwd -->
                        <div class="row m-t-20 p-t-20 border-top border-secondary">
                            <div class="col-12"><br>
                                <a class="btn btn-success" href="{% url 'login'%}" >Back To Login</a>
                                <button class="btn btn-info float-right" type="submit" action="Send email">Recover</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>


<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Email ID';

    for (var field in form_fields){
        form_fields[field].className += 'form-control form-control-lg'
    }

</script>
{% endblock %} 