{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <script
    src="https://kit.fontawesome.com/3440ae8e61.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="outer my-auto">
    <div class="login-block my-auto">
      <h2 class="title">重設密碼</h2>
      <p class="email-hint">
        在下面輸入您的電子郵件地址，我們將向您發送 說明如何恢復密碼。
      </p>
      <form action="" method="POST">
        {%csrf_token%}
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          {{form.email}}
        </div>
        <button class="login-btn float-right" type="submit" action="Send email">
          寄送
        </button>
      </form>
      <p class="forgot-hint">
        <a href="{% url 'login'%}">返回登入頁面</a>
      </p>
    </div>
  </div>

  <script>
    var form_fields = document.getElementsByTagName("input");
    form_fields[1].placeholder = "電子郵件地址";

    for (var field in form_fields) {
      form_fields[field].className += "sign-in-form";
    }
  </script>
</body>

{% endblock %}
