{% extends 'base.html' %} {%load static%} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/teacher-home.css' %}"
/>
<title>User Home</title>

{% endblock %} {% block content %}
<div class="teacher-body mx-auto">
  <blockquote class="blockquote text-center">
    <h3 class="h2 font-weight-bold mb-0 pt-3 pb-0">教師儀表板</h3>
    <hr />
  </blockquote>

  <div class="main-container">
    <div
      class="h-100 d-inline-block"
      style="width: 25%; background-color: rgba(0, 0, 255, 0.1)"
    >
      one
    </div>
    <div
      class="h-100 d-inline-block"
      style="width: 50%; background-color: rgba(0, 0, 255, 0.1)"
    >
      data
    </div>
    <div
      class="h-100 d-inline-block"
      style="width: 24%; background-color: rgba(0, 0, 255, 0.1)"
    >
      detail
    </div>
  </div>
</div>
{% endblock %}
