{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/user-home.css' %}" />

  <title>User Home</title>
</head>
<body>
  <div class="main-container">
    <div class="main-div">
      <div class="side-block">
        <div class="user-info">
          <div class="top-title">
            <span class="school-name">淡江大學</span>
            <span class="user-role"
              ><img
                src="{% static 'images/own-icons/book.png' %}"
                alt="user-role"
                srcset=""
              />

              <h2>學生</h2></span
            >
          </div>
          <div class="user-profile">
            <div class="profile-data">
              <div class="user-left">
                <div class="user-data">
                  <a href="#"> <i class="fas fa-user-cog user-conf-btn"></i></a>
                  <a href="#"><i class="fas fa-info info-btn"></i></a>
                  <div class="user-dp">
                    <img
                      src="{%static 'images/avatar_male.png'%}"
                      alt="user-dp"
                    />
                    <h5 class="user-name">
                      {{user.first_name}}{{user.last_name}}
                    </h5>
                  </div>
                </div>
                <div class="award-data">
                  <a href="#"> <i class="fas fa-cog user-conf-btn"></i></a>

                  <a href="#"><i class="fas fa-info info-btn"></i></a>
                  <div class="award-pic">
                    <img src="{%static 'images/award1.jpg'%}" alt="" />
                    <p class="award-name">我就是你的盾牌</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="earlier-data">
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日卡路里消耗</p>
                  <progress max="100" value="80" class="prog-sleep"></progress>
                </div>
              </div>
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日卡路里消耗</p>
                  <div class="prog-graph graph2"></div>
                </div>
              </div>
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日卡路里消耗</p>
                  <div class="prog-graph graph3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="today-prog">
          <h3 class="today-title">今日要完成的目標</h3>
          <div class="today-titles">
            <div class="title-set">
              <div class="prog-dot dot1"></div>
              <h5 class="dot-title title1">未完成</h5>
              &emsp; &emsp;&ensp;
              <div class="prog-dot dot2"></div>
              <h5 class="dot-title title2">完成</h5>
              &emsp; &emsp;&ensp;
              <div class="prog-dot dot3"></div>
              <h5 class="dot-title title3">未完成</h5>
              &emsp; &emsp;&ensp;
            </div>
          </div>
          <div class="vert-graph">
            <div class="chart">
              <ul class="bars">
                <li>
                  <div class="bar bar1" data-percentage="50"></div>
                  <span style="color: #18f927 !important">C - 50%</span>
                </li>
                <li>
                  <div class="bar bar2" data-percentage="100"></div>
                  <span style="color: #ff1b13 !important">W - 100%</span>
                </li>
                <li>
                  <div class="bar bar3" data-percentage="60"></div>
                  <span style="color: #ffb611 !important">Z - 60%</span>
                </li>
              </ul>
            </div>
            <!--chart end-->
          </div>
        </div>
      </div>
      <div class="main-block">
        <div class="tabContainer">
          <div class="buttonContainer">
            <button onclick="showPanel(0,'#f44336')">單元學習</button>
            <button onclick="showPanel(1,'#4caf50')">比較數據</button>
            <button onclick="showPanel(2,'#2196f3')">遊戲相關</button>
            <button onclick="showPanel(3,'#ff5722')">個人數據</button>
            <button onclick="showPanel(4,'#f1c40f')">網站說明</button>
            <!-- <button onclick="showPanel(0,'#f44336')">單元學習</button>
            <button onclick="showPanel(1,'#4caf50')">比較數據</button>
            <button onclick="showPanel(2,'#2196f3')">遊戲相關</button>
            <button onclick="showPanel(3,'#ff5722')">個人數據</button>
            <button onclick="showPanel(4,'#f1c40f')">網站說明</button> -->
          </div>
          <div class="tabPanel">{% include 'lesson-block.html'%}</div>
          <div class="tabPanel">{% include 'statistics-block.html'%}</div>
          <div class="tabPanel">{% include 'game-block.html'%}</div>
          <div class="tabPanel">{% include 'chart-block.html'%}</div>
          <div class="tabPanel">{% include 'web-info.html'%}</div>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://kit.fontawesome.com/3440ae8e61.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    charset="utf-8"
  ></script>
  <script src="{% static 'js/user-tab.js'%}"></script>

  <script type="text/javascript">
    $(function () {
      $(".bars li .bar").each(function (key, bar) {
        var percentage = $(this).data("percentage");
        $(this).animate(
          {
            height: percentage * 0.9 + "%",
          },
          1000
        );
      });
    });
  </script>
</body>

{% endblock %}
