{% extends 'base.html'%} {% block content %} {%load static%}
<link
  rel="stylesheet"
  type="text/css"
  href="{%static 'css/user-backup.css' %}"
/>
{%for user in users%}
<div class="mother-block">
  <div class="main-container">
    <div class="sidebar">
      <div class="sidebar-top">
        <h3>頁面選擇清單</h3>
        <ul>
          <li>
            <a href="{%url 'user-page'%}" class="btn active"
              ><i class="fas fa-home">&nbsp;</i> 主頁面
            </a>
          </li>
          <li>
            <a href="{%url 'user-rec'%}" class="btn">
              <i class="fas fa-calendar-plus">&nbsp;</i>資料紀錄
            </a>
          </li>
          <li>
            <a href="{%url 'user-awards'%}" class="btn"
              ><i class="fas fa-shield-alt"></i> 我的徽章</a
            >
          </li>
          <li>
            <a href="{%url 'user-ranks'%}" class="btn"
              ><i class="fas fa-trophy">&nbsp;</i> 排行榜
            </a>
          </li>
          <li>
            <a href="{%url 'logout'%}" class="btn"
              ><i class="fas fa-sign-out-alt"></i> 登出系統
            </a>
          </li>
        </ul>
        <hr class="solid divider" />
      </div>

      <div class="sidebar-bottom">
        <h4>每日任務清單</h4>
        <ul>
          <li>
            <label class="container"
              >1. 睡覺滿六小時 &nbsp; &nbsp;
              <input type="checkbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="container"
              >2. 運動滿一小時 &nbsp; &nbsp;
              <input type="checkbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="container"
              >3. 步行滿三千步 &nbsp; &nbsp;
              <input type="checkbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-block">
      <div class="main-column">
        <div class="title-block">
          <h3>昨天目標完成率</h3>
        </div>
        <div class="stat-block">
          <div class="prog-container">
            <div class="card">
              <div class="box">
                <div class="percent">
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" id="one"></circle>
                  </svg>
                  <div class="number">
                    <h4>{{user.sleep}}<span>%</span></h4>
                  </div>
                  <div class="text" id="sleep"><h4>睡覺</h4></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="percent">
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" id="two"></circle>
                  </svg>
                  <div class="number">
                    <h4>{{user.walk}}<span>%</span></h4>
                  </div>
                </div>
                <div class="text" id="walk"><h4>步行</h4></div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="percent">
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" id="three"></circle>
                  </svg>
                  <div class="number">
                    <h4>{{user.exercise}}<span>%</span></h4>
                  </div>
                </div>
                <div class="text" id="workout"><h4>運動</h4></div>
              </div>
            </div>
            <div class="card">
              <div class="box">
                <div class="percent">
                  <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" id="four"></circle>
                  </svg>
                  <div class="number">
                    <h4>{{user.calories}}<span>%</span></h4>
                  </div>
                </div>
                <div class="text" id="calory"><h4>卡路里</h4></div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-block">
          <h1>開始探險</h1>
        </div>
        <div class="lesson-block">
          <div class="les-block one">Lesson 1</div>
          <div class="les-block two">Lesson 2</div>
          <div class="les-block three">Lesson 3</div>
          <div class="les-block four">Lesson 4</div>
        </div>
      </div>
      <div class="right-column">
        <div class="user-pic">
          <img src="{%static 'images/male_avatar.svg'%}" alt="" />
          <h5>{{user.username}}</h5>
          <p>學生</p>
          <p>{{data1.Gender}}</p>
          <p>** HIT 國中 **</p>
        </div>
        <div class="charts">{% include "index.html" %}</div>
      </div>
    </div>
  </div>
</div>

<script>
  let val1 = "{{user.sleep}}";
  let val2 = "{{user.walk}}";
  let val3 = "{{user.exercise}}";
  let val4 = "{{user.calories}}";
  let stroke1 = document.getElementById("one");
  let stroke2 = document.getElementById("two");
  let stroke3 = document.getElementById("three");
  let stroke4 = document.getElementById("four");
  stroke1.style.strokeDashoffset = 440 - (440 * val1) / 100;
  stroke2.style.strokeDashoffset = 440 - (440 * val2) / 100;
  stroke3.style.strokeDashoffset = 440 - (440 * val3) / 100;
  stroke4.style.strokeDashoffset = 440 - (440 * val4) / 100;
</script>
{%endfor%}
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
{%endblock%}
