{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/user-home.css' %}" />
<title>User Home</title>
{% endblock %} {% block content %}
<!DOCTYPE html>

<div>
  <div class="main-container" id="mainBlur">
    <div class="main-div">
      <div class="side-block">
        <div class="user-info">
          <div class="top-title">
            <span class="school-name">淡江大學</span>
            <span class="user-role"
              ><img
                src="{% static 'images/own-icons/book.png' %}"
                alt="user-role"
                srcset=""
              />

              <h2>學生</h2></span
            >
          </div>
          <div class="user-profile">
            <div class="profile-data">
              <div class="user-left">
                <div class="user-data">
                  <i
                    class="fas fa-user-cog user-conf-btn"
                    onclick="userPopUp(0)"
                  ></i>
                  <i class="fas fa-info info-btn" onclick="userPopUp(1)"></i>
                  <div class="user-dp">
                    <img
                      src="{{request.user.studentprofile.photo.url}}"
                      alt="user-dp"
                    />
                    <h5 class="user-name">
                      {{user.first_name}}{{user.last_name}}
                    </h5>
                  </div>
                </div>
                <div class="award-data">
                  <i
                    class="fas fa-cog user-conf-btn"
                    onclick="userPopUp(2)"
                  ></i>

                  <i class="fas fa-info info-btn" onclick="userPopUp(3)"></i>
                  <div class="award-pic">
                    <img src="{%static 'images/award1.jpg'%}" alt="" />
                    <p class="award-name">我就是你的盾牌</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="earlier-data">
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日卡路里消耗</p>
                  <div class="progress">
                    <div
                      class="progress-done"
                      data-done="{{activity.yesterday_calories}}"
                    >
                      {{activity.yesterday_calories}}%
                    </div>
                  </div>
                </div>
              </div>
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日步數</p>
                  <div class="progress">
                    <div
                      class="progress-done graph2"
                      data-done="{{activity.yesterday_steps}}"
                    >
                      {{activity.yesterday_steps}}%
                    </div>
                  </div>
                </div>
              </div>
              <div class="prog-block">
                <div class="prog-progress">
                  <p class="prog-title">昨日睡眠量</p>
                  <div class="progress">
                    <div
                      class="progress-done graph3"
                      data-done="{{activity.yesterday_sleep}}"
                    >
                      {{activity.yesterday_sleep}}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="today-prog">
          <h3 class="today-title">今日要完成的目標</h3>
          <div class="today-titles">
            <div class="title-set">
              <div class="prog-dot dot1 {%if activity.is_today_calories %}  dot1done {% endif %}"></div>
              <h5 class="dot-title title1">{%if activity.is_today_calories %}  完成 {% else %} 未完成 {% endif %}</h5>
              &emsp; &emsp;&ensp;
              <div class="prog-dot dot2 {%if activity.is_today_steps %}  dot2done {% endif %}"></div>
              <h5 class="dot-title title2">{%if activity.is_today_steps %}完成 {% else %} 未完成 {% endif %}</h5>
              &emsp; &emsp;&ensp;
              <div class="prog-dot dot3 {%if activity.is_today_sleep %}  dot3done {% endif %}"></div>
              <h5 class="dot-title title3">{%if activity.is_today_sleep %} 完成 {% else %} 未完成 {% endif %}</h5>
              &emsp; &emsp;&ensp;
            </div>
          </div>
          <div class="vert-graph">
            <div class="chart">
              <ul class="bars">
                <li>
                  <div
                    class="bar bar1"
                    data-percentage="{{activity.today_calories}}"
                  ></div>
                  <span style="color: #18f927 !important"
                    >C -{{activity.today_calories}}%</span
                  >
                </li>
                <li>
                  <div
                    class="bar bar2"
                    data-percentage="{{activity.today_steps}}"
                  ></div>
                  <span style="color: #ff1b13 !important"
                    >W - {{activity.today_steps}}%</span
                  >
                </li>
                <li>
                  <div
                    class="bar bar3"
                    data-percentage="{{activity.today_sleep}}"
                  ></div>
                  <span style="color: #ffb611 !important"
                    >Z - {{activity.today_sleep}}%</span
                  >
                </li>
              </ul>
            </div>
            <!--chart end-->
          </div>
        </div>
      </div>

      <div class="main-block">
        <div class="tabContainer">
          <div class="buttonContainer">
            <button onclick="showPanel(0,'#f44336')">單元學習</button>
            <button onclick="showPanel(1,'#4caf50')">比較數據</button>
            <button onclick="showPanel(2,'#2196f3')">遊戲相關</button>
            <button onclick="showPanel(3,'#ff5722')">個人數據</button>
            <button onclick="showPanel(4,'#f1c40f')">網站說明</button>
          </div>
          <div class="tabPanel">{% include 'chart-block.html'%}</div>
          <div class="tabPanel">{% include 'statistics-block.html'%}</div>
          <div class="tabPanel">{% include 'lesson-block.html'%}</div>
          <div class="tabPanel">{% include 'chart-block.html'%}</div>
          <div class="tabPanel">{% include 'web-info.html'%}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-settings-pop" id="userPopup">
    <h1>User Menu</h1>
    <i class="fas fa-times-circle usrpop-close" onclick="userPopUp(0)"></i>
  </div>
  <div class="user-settings-pop" id="userPopup">
    <h1>User-info</h1>
    <i class="fas fa-times-circle usrpop-close" onclick="userPopUp(1)"></i>
  </div>
  <div class="user-settings-pop" id="userPopup">
    <h1>Award Menu</h1>
    <i class="fas fa-times-circle usrpop-close" onclick="userPopUp(2)"></i>
  </div>
  <div class="user-settings-pop" id="userPopup">
    <h1>Award info</h1>
    <i class="fas fa-times-circle usrpop-close" onclick="userPopUp(3)"></i>
  </div>
  <script
    src="https://kit.fontawesome.com/3440ae8e61.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    charset="utf-8"
  ></script>

  <script type="text/javascript">
    $(function () {
      $(".bars li .bar").each(function (key, bar) {
        var percentage = $(this).data("percentage");
        $(this).animate(
          {
            height: percentage * 0.9 + "%",
          },
          1000
        );
      });
    });

    function userPopUp(dcode) {
      var userpop = document.querySelectorAll(".user-settings-pop");
      var allBlur = document.getElementById("mainBlur");
      userpop.forEach(function (node) {
        node.style.display = "none";
      });
      userpop[dcode].style.display = "block";
      userpop[dcode].classList.toggle("show");
      allBlur.classList.toggle("blractive");
    }

    let allProgress = document.querySelectorAll(".progress-done");

    allProgress.forEach(function (progress) {
      progress.style.width = progress.getAttribute("data-done") + "%";
      progress.style.opacity = 1;
    });
    // const progress = document.querySelectorAll(".progress-done");
    // progress.style.width = progress.getAttribute("data-done") + "%";
    // progress.style.opacity = 1;
  </script>
 
  </script>
  <script src="{% static 'js/user-tab.js'%}"></script>
  <div class="height"></div>
</div>

{% endblock %}
