{% extends 'base.html'%} {% block content %} {%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/user.css' %}" />
<div class="main-container">
  <div class="sidebar">
    <div class="sidebar-top">
      <h3>頁面選擇清單</h3>
      <ul>
        <li><a href="{%url 'home'%}" class="btn active"><i class="fas fa-home">&nbsp;</i> 主頁面 </a></li>
        <li><a href="#" class="btn"> <i class="fas fa-calendar-plus">&nbsp;</i>資料紀錄 </a></li>
        <li><a href="#" class="btn"><i class="fas fa-shield-alt"></i> 我的徽章</a></li>
        <li><a href="#" class="btn"><i class="fas fa-trophy">&nbsp;</i> 排行榜 </a></li>
        <li><a href="{%url 'logout'%}" class="btn"><i class="fas fa-sign-out-alt"></i> 登出系統 </a></li>
      </ul>
    </div>
    <div class="sidebar-bottom"></div>
  </div>
  <div class="main-column">
    <div class="title-block">
      <h3>昨天目標完成率</h3>
    </div>
    <div class="stat-block">
      <div class="prog-container">
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="one"></circle>
              </svg>
              <div class="number">
                <h4>{{percent.0}}<span>%</span></h4>
              </div>
              <div class="text" id="sleep"><h4>睡覺</h4></div>
            </div>          
          </div>
        </div>
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="two"></circle>
              </svg>
              <div class="number">
                <h4>{{percent.1}}<span>%</span></h4>
              </div>
            </div>
            <div class="text" id="walk"><h4>步行</h4></div>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="three"></circle>
              </svg>
              <div class="number">
                <h4>{{percent.2}}<span>%</span></h4>
              </div>
            </div>
            <div class="text" id="workout"><h4>運動</h4></div>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="four"></circle>
              </svg>
              <div class="number">
                <h4>{{percent.3}}<span>%</span></h4>
              </div>
            </div>
            <div class="text" id="calory"><h4>卡路里</h4></div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-block">
      <h1>開始探險</h1>
    </div>
    <div class="lesson-block">     
        <div class="les-block one">Lesson 1</div>
        <div class="les-block two">Lesson 2</div>      
        <div class="les-block three">Lesson 3</div>
        <div class="les-block four">Lesson 4</div>
      
    </div>
  </div>
  <div class="right-column">
    <div class="user-pic">
      <img src="{%static 'images/male_avatar.svg'%}" alt="" />

      <h5>{{request.user.first_name}}{{request.user.last_name}}</h5>
      <p>學生</p>
      <p>{{data1.Gender}}</p>
      <p>** HIT 國中 **</p>
    </div>

    <div class="charts">
      <svg>
        <line x1="50" y1="50" x2="100" y2="120" stroke="black"></line>
        <line x1="100" y1="120" x2="170" y2="30" stroke="black"></line>
      </svg>
    </div>
  </div>
</div>
<script>
  let val1 = "{{percent.0}}"
  let val2 = "{{percent.1}}"
  let val3 = "{{percent.2}}"
  let val4 = "{{percent.3}}"
  let stroke1 = document.getElementById("one")
  let stroke2 = document.getElementById("two")
  let stroke3 = document.getElementById("three")
  let stroke4 = document.getElementById("four")
  stroke1.style.strokeDashoffset = 440 - (440 * val1) / 100;
  stroke2.style.strokeDashoffset = 440 - (440 * val2) / 100;
  stroke3.style.strokeDashoffset = 440 - (440 * val3) / 100;
  stroke4.style.strokeDashoffset = 440 - (440 * val4) / 100;

</script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
{%endblock%}
