{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/web-info.css' %}" />
</head>

<body>
  <div class="tab-body">
    <div class="web-info-block">
      <div class="info-text">
        1. 這個網站由淡江大學教育科技系大學部與緯創資通(緯育) <br />
        &nbsp; 共同開發完成,目的是配合健康手環打造全新的互動式數位
        <br />
        &nbsp; 健康學習平台. <br />
        2.分別以三種顏色代表三種不同、可以由手環收集得到的數 <br />
        &nbsp; 據,分別是綠色(卡路里消耗)、紅色(步數累積)以及橘色(睡眠
        <br />
        &nbsp; 累積).
        <br />
        3.[學習單元]於首頁可以看到自己的單元學習狀況,學習者需 <br />
        &nbsp; 要先完成所有學習單元,才可以正式進行遊戲,所有在學習單
        <br />
        &nbsp; 元收集到的寶物,會在正式進入遊戲後發放到學習者的背包.<br />
        4.[學習單元]學習單元分為三個大單元,以及裡面的內容,學習 <br />
        &nbsp; 者可以在學習的過程中發掘到進行學習時的隱藏關卡,可以
        <br />
        &nbsp; 在完成關卡考驗後對應到特殊的獎勵.
      </div>
      <div class="info-nav">
        <div class="info-nav-btns">
          <h1><a href="#"> &lt; </a> <a href="#"> &gt; </a></h1>
        </div>
      </div>
    </div>
  </div>
</body>
